body {
  margin: 0;
  padding: 0;
}
h1{
  padding-left: 100px; 
  text-align: center;
}
nav{
  text-align: center;
  width: 100%;

}
nav a{
  list-style-type: none;
  padding-left: 10px;
  
  background-color: #827f7f;

}
a:visited{
  color: #795e75;
}
#featured-property{
  text-align: center;
}
#featured-property figure{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#featured-property img{
  display: block;
  display: inline-block;
  position: relative;
  margin: 0 auto;
}
#featured-property figcaption{
  /* position: absolute; positions relative to the nearest ancestor */
  text-align: center;
  left: 25%;
  width: 800px;
}
#featured-property p{
  margin: 20px auto;
  text-align: center;
  text-indent: 2ch;
  text-align: center;
  width: 800px;
}
#featured-property p:first-of-type{
  text-indent: 0ch;
  text-align: center;
}
#details{
  text-align: left;
  overflow: auto;/*an overflor for clearing floats */
  background-color: red;
}
#details div{
  /* display: inline-block; */
  /* margin-right: 20px; */
  float: left;
  width: 25%;
  text-align: center;

}
